@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* 
@tailwind base;
@tailwind components;
@tailwind utilities;
 */

/* styles */

.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: orange;
  overflow: hidden;
}

.table-header {
  @apply px-4 bg-secondary text-tertiary align-middle py-3 text-xs font-semibold text-left uppercase  whitespace-nowrap;
}
.table-data {
  @apply border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left;
}
.btn-primary {
  @apply bg-primary text-white text-sm font-semibold p-3 hover:bg-white hover:text-tertiary transition-all duration-500 rounded;
}
.input {
  @apply block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring
}
.label {
  @apply text-gray-700 dark:text-gray-200
}

.label {
  @apply text-gray-700 dark:text-gray-200
}